.postcard {
	position: relative;
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
	&__image {
		position: relative !important;
		width: 100%;
		height: auto;
    object-fit: cover;
    @media screen and (max-width: 512px) {
      aspect-ratio: 1/1;
    }
	}
}
